<html>

<head>
  <title>FCC ISQA Project - Personal Library</title>
  <meta name="description" content="A cool thing made with HyperDev">
  <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <header>
    <h1>
      <b>ISQA Project</b> - Personal Library
    </h1>
  </header>
  <hr>
  <div id='sampleui'>
    <h2>Front-End</h2>
    <form id="newBookForm">
      <input type="text" id="bookTitleToAdd" name="title" placeholder="New Book Title" style="width: 295px">
      <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
    </form>
    <div id='display'></div>
    <div id='bookDetail'>
      <p id='detailTitle'>Select a book to see it's details and comments</p>
      <div id='detailComments'></div>
    </div>
    <div>
      <button id='deleteAllBooks' class='btn'>Delete all books...</button>
    </div>
    <div>
      <button id='refresh' class='btn'>Refresh Page</button>
    </div>
  </div>
  <hr>
  <p style='text-align: center'>Site Powered by: PHP 4.2.0</p>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script src="/public/client.js"></script>
</body>

</html>